---
layout: default
exclude_from_search: true
---
<article class='content content--home'>

  <h1 class='page-heading'>Posts</h1>

  <ul class='post-list'>

    {% for post in site.posts %}

      <li class='post-list-row'>
        <div class='post-meta'>{{ post.date | date: '%b %-d, %Y' }}</div>
        <a class='post-link' href='{{ post.url | prepend: site.baseurl }}'>{{ post.title }}</a>
        <div class='post-tags'>
          {% for tag in post.categories %}
            <span class='post-tag'>
              {{ tag }}
            </span>
          {% endfor %}
        </div>
      </li>

    {% endfor %}

  </ul>

</article>

