<footer class='footer'>

  {% if site.twitter_username %}
    <div class='footer__container'>
      <p>
        If you liked this post, you can <a href='https://twitter.com/intent/tweet?url={{ site.url }}{{ page.url }}&text={{ page.title }}&via={{ site.twitter_username }}' target='_blank'>share it on twitter</a>.
      </p>
    </div>
  {% endif %}


  <div class='footer__container'>

    <p>
      <a href='https://til.karlbowden.com'>Today I Learned</a>, a micro blog by <a href='https://karlbowden.com'>Karl Bowden</a>.
    </p>

    <p>
      <a href='https://twitter.com/{{ site.twitter_username }}'>Twitter</a> |
      <a href='https://github.com/agentk'>Github</a> |
      <a href='{{ '/feed.xml' | prepend: site.baseurl }}'>RSS feed</a>
    </p>

  </div>

</footer>
