<header class='header'>

  <div class='header__container'>

    <a class='header__branding' href='{{ site.baseurl }}/'>
      {{ site.title }}
    </a>

    <nav class='header__navigation'>
      {% for my_page in site.pages %}
        {% if my_page.title %}
          <a class='header__link' href='{{ my_page.url | prepend: site.baseurl }}'>
            {{ my_page.title }}
          </a>
        {% endif %}
      {% endfor %}
    </nav>

    <div class='header__search-section' id='search'>

      <form class='header__search-form' action='/search/' method='get'>

        <input class='header__search-field' type='text' id='search-query' name='q' placeholder='Search…' autocomplete='off' autocorrect='off'>

      </form>

    </div>
  </div>

</header>
