@font-face {
  font-family: 'Alegreya Sans';
  src: url('../fonts/alegreyasans-bold.eot');
  src: url('../fonts/alegreyasans-bold.eot?#iefix') format('embedded-opentype'),
       url('../fonts/alegreyasans-bold.woff2') format('woff2'),
       url('../fonts/alegreyasans-bold.woff') format('woff'),
       url('../fonts/alegreyasans-bold.ttf') format('truetype'),
       url('../fonts/alegreyasans-bold.svg#alegreya_sansbold') format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Crimson Text';
  src: url('../fonts/crimsontext-bold.eot');
  src: url('../fonts/crimsontext-bold.eot?#iefix') format('embedded-opentype'),
       url('../fonts/crimsontext-bold.woff2') format('woff2'),
       url('../fonts/crimsontext-bold.woff') format('woff'),
       url('../fonts/crimsontext-bold.ttf') format('truetype'),
       url('../fonts/crimsontext-bold.svg#crimson_textbold') format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Crimson Text';
  src: url('../fonts/crimsontext-roman.eot');
  src: url('../fonts/crimsontext-roman.eot?#iefix') format('embedded-opentype'),
       url('../fonts/crimsontext-roman.woff2') format('woff2'),
       url('../fonts/crimsontext-roman.woff') format('woff'),
       url('../fonts/crimsontext-roman.ttf') format('truetype'),
       url('../fonts/crimsontext-roman.svg#crimson_textroman') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Inconsolata';
  src: url('../fonts/inconsolata-regular.eot');
  src: url('../fonts/inconsolata-regular.eot?#iefix') format('embedded-opentype'),
       url('../fonts/inconsolata-regular.woff2') format('woff2'),
       url('../fonts/inconsolata-regular.woff') format('woff'),
       url('../fonts/inconsolata-regular.ttf') format('truetype'),
       url('../fonts/inconsolata-regular.svg#inconsolataregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Source Sans Pro';
  src: url('../fonts/sourcesanspro-bold.eot');
  src: url('../fonts/sourcesanspro-bold.eot?#iefix') format('embedded-opentype'),
       url('../fonts/sourcesanspro-bold.woff2') format('woff2'),
       url('../fonts/sourcesanspro-bold.woff') format('woff'),
       url('../fonts/sourcesanspro-bold.ttf') format('truetype'),
       url('../fonts/sourcesanspro-bold.svg#source_sans_probold') format('svg');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Source Sans Pro';
  src: url('../fonts/sourcesanspro-light.eot');
  src: url('../fonts/sourcesanspro-light.eot?#iefix') format('embedded-opentype'),
       url('../fonts/sourcesanspro-light.woff2') format('woff2'),
       url('../fonts/sourcesanspro-light.woff') format('woff'),
       url('../fonts/sourcesanspro-light.ttf') format('truetype'),
       url('../fonts/sourcesanspro-light.svg#source_sans_prolight') format('svg');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Source Sans Pro';
  src: url('../fonts/sourcesanspro-regular.eot');
  src: url('../fonts/sourcesanspro-regular.eot?#iefix') format('embedded-opentype'),
       url('../fonts/sourcesanspro-regular.woff2') format('woff2'),
       url('../fonts/sourcesanspro-regular.woff') format('woff'),
       url('../fonts/sourcesanspro-regular.ttf') format('truetype'),
       url('../fonts/sourcesanspro-regular.svg#source_sans_proregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
