// Syntax highlighting styles -------------------------------------------------
.highlight {
  background: #fff;
  .err {
    color: #a61717;
    background-color: #e3d2d2
  }
  .gd {
    background-color: #ffdddd
  }
  .gd .x {
    background-color: #ffaaaa
  }
  .gi {
    background-color: #ddffdd
  }
  .gi .x {
    background-color: #aaffaa
  }
  .gd, .gd .x, .gi, .gi .x {
    color: #000000;
  }
  .bp, .c, .cm, .cp, .c1, .cs, .gh {
    color: #999999
  }
  .go {
    color: #888888
  }
  .gu {
    color: #aaaaaa
  }
  .gr, .gt {
    color: #aa0000
  }
  .nb {
    color: #0086B3
  }
  .kt, .nc {
    color: #445588;
  }
  .ni {
    color: #800080
  }
  .ne, .nf {
    color: #990000;
  }
  .gp, .nn {
    color: #555555
  }
  .nt {
    color: #000080
  }
  .na, .no, .nv {
    color: #008080
  }
  .w {
    color: #bbbbbb
  }
  .m, .mf, .mh, .mi, .mo, .vc, .vg, .vi, .il {
    color: #009999
  }
  .s, .sb, .sc, .sd, .s2, .se, .sh, .si, .sx, .s1 {
    color: #d14
  }
  .sr {
    color: #009926
  }
  .ss {
    color: #990073
  }
  .lineno {
    color: rgba(0, 0, 0, 0.3);
    padding: 0 10px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
  }
}

.lineno::-moz-selection {
  background-color: transparent;
}

.lineno::selection {
  background-color: transparent;
}
